.gm-style .control-panel {
  padding: 0 8px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -moz-column-gap: 14px;
  -webkit-column-gap: 14px;
  column-gap: 14px;
  position: absolute;
  border-radius: 16px;

  &__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -moz-column-gap: 8px;
    -webkit-column-gap: 8px;
    column-gap: 8px;
    z-index: 1000001;
    position: absolute;
    left: 8px !important;
    bottom: 8px !important;

    @include mobile {
      margin-right: 68px;
      left: 4px !important;
      bottom: 4px !important;
    }
  }

  &__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
    z-index: 100;
    position: absolute;
    right: 8px !important;
    bottom: 8px !important;

    @include mobile {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      right: 4px !important;
      bottom: 4px !important;
    }
  }

  &__search-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;

    svg {
      position: absolute;
      left: 12px;
      color: var(--color-second);
    }
  }

  &__label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
  }

  &__search-input {
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    height: var(--input-height);
    min-width: 462px;
    width: 100%;
    padding-left: 44px;
    padding-right: 20px;
    color: var(--color-dark);
    background-color: var(--color-white);
    border: 1px solid var(--color-white);
    border-radius: var(--border-radius-large);
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;

    &:focus {
      outline: none;
      border: 1px solid var(--color-dark);
    }

    &::-webkit-input-placeholder {
      color: var(--color-second);
    }

    &::-moz-placeholder {
      color: var(--color-second);
    }

    &:-ms-input-placeholder {
      color: var(--color-second);
    }

    &::-ms-input-placeholder {
      color: var(--color-second);
    }

    &::placeholder {
      color: var(--color-second);
    }

    @include mobile {
      min-width: 100%;
      padding-right: 15px;
    }
  }

  &__button {
    border: none;
    outline: none;
    padding: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--color-icon);
    width: var(--input-height);
    aspect-ratio: 1;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    cursor: pointer;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;

    &:focus {
      color: #0c0101;
    }

    @include hover {
      color: #0c0101;
    }
  }
}
