:root {
  --color-white: #fff;
  --color-dark: #2a2827;
  --color-main: #f5e1d7;
  --color-second: #7a7471;
  --color-icon: #3d3a38;

  --bg-color: #e06324;

  --border: 1px solid #b84c16;

  --border-radius: 12px;
  --border-radius-large: 24px;

  --font-family: "Inter", sans-serif;

  --container-width: 1416px;
  --container-padding-x: 12px;

  --input-height: 44px;

  --transition-duration: 0.3s;
}
